Django>=5.1,<6.0
djangorestframework>=3.15,<4.0
django-cors-headers>=4.4,<5.0
django-filter>=24.0
reportlab>=4.2
python-dotenv>=1.0
drf-spectacular>=0.27.0
djangorestframework-simplejwt>=5.3
Pillow>=10.0
mysqlclient>=2.2.0